<h2>Modifier un Personnel</h2>

<form (ngSubmit)="onSubmit()" #personnelForm="ngForm">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Nom</mat-label>
    <input matInput name="nom" [(ngModel)]="personnel.nom" required />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Prénom</mat-label>
    <input matInput name="prenom" [(ngModel)]="personnel.prenom" required />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Poste</mat-label>
    <input matInput name="poste" [(ngModel)]="personnel.poste" required />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput name="email" [(ngModel)]="personnel.email" required email />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Salaire</mat-label>
    <input matInput type="number" name="salaire" [(ngModel)]="personnel.salaire" required />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Date d'embauche</mat-label>
    <input matInput type="date" name="dateEmbauche" [(ngModel)]="personnel.dateEmbauche" required />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Enregistrer</button>
  <button mat-button color="warn" routerLink="/personnel">Annuler</button>
</form>
