<div class="consulte-container animate-fade-in" style="height: 900px;">
  <h2>Liste des Congés</h2>

  <div *ngIf="loading">Chargement en cours...</div>
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

  <div *ngIf="!loading && conges.length === 0" class="no-conge">
    Aucun congé trouvé.
  </div>

  <div class="conge-grid" *ngIf="!loading && conges.length > 0">
    <mat-card class="conge-card" *ngFor="let conge of conges">
      <mat-card-title>
        {{ getPersonnelById(conge.personnelId)?.nom }} {{ getPersonnelById(conge.personnelId)?.prenom }} — {{ getPersonnelById(conge.personnelId)?.poste }}
      </mat-card-title>

      <mat-card-subtitle>
        📅 Du {{ conge.dateDebut | date:'dd/MM/yyyy' }} au {{ conge.dateFin | date:'dd/MM/yyyy' }}
      </mat-card-subtitle>

      <mat-chip color="primary" selected>
        {{ conge.typeConge }}
      </mat-chip>
      <mat-chip>
        Statut : {{ conge.statut }}
      </mat-chip>

      <mat-card-actions>
        <button mat-icon-button color="accent" [routerLink]="['/conge/editConge', conge.id]">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
