<div class="table-container mat-elevation-z8">
  <mat-toolbar color="primary">
    <span>Liste du Personnel</span>
    <span class="spacer"></span>

    <button mat-raised-button color="accent" routerLink="/personnel/addPersonnel">
      Ajouter un Personnel
    </button>

    <mat-form-field appearance="outline" style="margin-left: 20px;">
      <mat-label>Filtrer</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Chercher un nom, poste...">
    </mat-form-field>
  </mat-toolbar>

  <table mat-table [dataSource]="dataSource" matSort class="mat-table-responsive">

    <!-- Nom Complet -->
    <ng-container matColumnDef="nomComplet">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom Complet</th>
      <td mat-cell *matCellDef="let element">{{element.nom}} {{element.prenom}}</td>
    </ng-container>

    <!-- Poste -->
    <ng-container matColumnDef="poste">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Poste</th>
      <td mat-cell *matCellDef="let element">{{element.poste}}</td>
    </ng-container>

    <!-- Email -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{element.email}}</td>
    </ng-container>

    <!-- Salaire -->
    <ng-container matColumnDef="salaire">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Salaire</th>
      <td mat-cell *matCellDef="let element">{{element.salaire | currency:'TND':'symbol'}}</td>
    </ng-container>

    <!-- Date Embauche -->
    <ng-container matColumnDef="dateEmbauche">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Embauche</th>
      <td mat-cell *matCellDef="let element">{{element.dateEmbauche | date:'dd/MM/yyyy'}}</td>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" (click)="editPersonnel(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deletePersonnel(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Header & Row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
